:root {
  --brand1:  #071821;
  --brand1hover:  #306850;
  --brand2:  #7430fe;
  --brand2hover:  #5719d6;
  --brand3:  #162d54;
  --brand3hover:  #091833;
  --bgcolor: #eff1f6;
  --title:   #162d54;
  --light:   #2a4371;
  --dark:    #FFFFFF;
}

html, body {
  padding:0;
  background:var(--brand3);
}

html {
  font-family:'Roboto Mono', monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0px;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  width: 100%;
  max-width:150px;
  margin:0 auto;
}

img.gb_img {
  max-width:100%;
  width:auto;
  max-height:1.4em;
  margin:0 .2em;
  display:inline-block;
  vertical-align:middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

form {
  margin-bottom:0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: .01ms !important;
    animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: .01ms !important;
    transition-duration: .01ms !important;
  }
}

/* || Responsive Font-size || */

html { font-size: 24px; }
@media screen and (min-width: 25em) and (max-width:1139px) {
  html { font-size: calc( 24px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}
@media screen and (min-width:1140px) {
  html { font-size: 38px; }
}

/* Variables */

.tri {
  max-width:calc(1000px + 4em);
}

/* Defaults */

h1 { 
  font-size:1.6em;
  font-weight:900;
  line-height:1em;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-weight:500;
  line-height:1em;
  margin-bottom:.5em;
}

h2 { font-size:1.2em; }
h3 { font-size:.6em; }

p, li {
  font-size:.55em;
  line-height:1.7em;
  font-weight:200;
}

p {
  margin-bottom:.6em;
}

h1, strong {
  color:white;
  font-weight:500;
}

h1 {
  display:inline-block;
  vertical-align:middle;
}

strong {
  font-size:0.6em;
}

a:not([class]) {
  line-height:1.7em;
  font-weight:200;
  color:#005ce7;
  -webkit-transition:  0.3s all;
  transition:0.3s all;
}

a:not([class]):hover {
  line-height:1.7em;
  font-weight:200;
  color:#003688;
}

.fullwidth {
  max-width:100%;
  padding:2em;
}

.midi2mod-a-convert {
  color:#e0f8cf;
  background:var(--brand1);
  font-size:0.4em;
  padding:15px 20px;
  border-radius:17px;
  -webkit-transition:  0.3s all;
  transition:0.3s all;
  font-weight:900;
  text-decoration: none;
  display:inline-block;
  vertical-align: top;
}

.midi2mod-a-convert:hover {
  background:var(--brand1hover);
}

textarea {
  font-size:.6em;
  width:100%;
  min-height:100px;
  max-width: 100%;
}

label, select {
  font-size:.6em;
}

select,
select option {
  background:#82922D;
  color:#071821;
}

.midi2mod-c-options-panel {
  background:#86c06c;
  color:#071821;
  padding:1em;
  border-radius:17px;
  border:.5em solid #252b3a;
  margin:1em 0;
  font-size:.7em;
}

h1 > span {
  color:#c72626;
}

label,
.text_small {
  font-size:.6em;
  font-weight:bold;
}

[name="midi2mod-a-tracker-select"],
label {
  display:inline-block;
  margin-bottom:.5em;
}

.btn-container {
    display: block !important;
    max-width: 225px;
    margin: .5em auto !important;
}

.midi2mod-a-generate {
  color:#e0f8cf;
  background:var(--brand1);
  font-size:.8em;
  padding:15px 20px;
  border-radius:17px;
  -webkit-transition:  0.3s all;
  transition:0.3s all;
  font-weight:900;
  text-decoration: none;
  display:inline-block;
  vertical-align: top;
  margin-bottom:1em;
}

.midi2mod-a-generate:hover {
  background:var(--brand1hover);
}

.midi2mod-a-generate.save {
  background:#c72626;
}

.midi2mod-a-generate.save:hover {
  background:#a21313;
}

.midi2mod-a-generate.disabled {
  color:#ccc;
  background:#939393;
  pointer-events:none;
}

.midi2mod-a-generate.disabled:hover {
  background:#939393;
  pointer-events:none;
}

input[type="file"] {
  position:absolute;
  top:-99999999px;
  left:-999999999px;
  visibility:hidden;
}

/* BASSOON */
#player{
  width: 100%;
  border: 1px solid rgba(7, 24, 33, 0.71);
  padding: 2px;
  margin: auto;
  opacity:0;
  pointer-events:none;
  -webkit-transition:  0.3s opacity;
  transition:0.3s opacity;
  margin-top:.5em;
}

#player.active {
  opacity:1;
  pointer-events:all;
}

#play{
  display: inline-block;
  padding: 2px;
  border: 1px solid rgba(7, 24, 33, 0.71);
  text-align: center;
  font-size: .6em;
  width:20%;
  vertical-align:middle;
}

#play:hover{
  background-color: rgba(255, 255, 255, 0.09);
  cursor: pointer;
}

#songname{
  padding: 2px;
  border-bottom: 1px solid rgba(7, 24, 33, 0.71);
  text-transform: capitalize;
  font-size: .6em;
  margin-bottom:2px;
}

.range{
    font-size: .6em;
    padding: 2px;
    display: inline-block;
    width: 80px;
}

.range.vol_range {
  display:none;
}

.range.wide{
  width:72%;
  display:inline-block;
  vertical-align:middle;
}

.range input{
    display: block;
    width: 100%;
}

#scope{
    border: 1px solid #b7b7b7;
    height: 36px;
    display: inline-block;
    width: 215px;
    float: right;
    border-radius: 5px;
  position:relative;
  display:none;
}

#scope canvas:last-child {
  position:absolute;
  top:0;
  left:0;
}

.gameboy-outer {
  font-size:.4em;
  width:26em;
  padding-top:2em;
}

.gameboy-outer *:not(a) {
  color: #071821;
}

.gameboy-cart-box {
  height:6em;
  width:100%;
  overflow:hidden;
  padding-top:1em;
}
.gameboy-cart:before {
  content:'';
  width:calc(100% - 1em);
  height:1em;
  position:absolute;
  top:-1em;
  left:0;
  background: rgb(173, 173, 173);
}
.gameboy-cart {
  margin:0 auto 0 auto;
  width:calc(100% - 6em);
  height:100%;
  background: rgb(173, 173, 173);
  position:relative;
  padding:1em;
  text-align:center;
  -webkit-transition:  1s all;
  transition:1s all; 
  top:0;
}

.gameboy-outer.loaded .gameboy-cart {
  top:5em;
}

.gameboy-base {
  background: rgb(230,230,230);
  background: -webkit-linear-gradient(315deg, rgba(230,230,230,1) 0%, rgba(179,179,179,1) 100%);
  background: linear-gradient(135deg, rgba(230,230,230,1) 0%, rgba(179,179,179,1) 100%);
  height:26em;
  width:26em;
  border-radius:.4em .4em 4em .4em;
  position:relative;
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.36);
  z-index:10;
}

.gameboy-padding {
  height:2em;
  width:100%;
  border-bottom:2px solid rgba(0,0,0,0.1);
}

.gameboy-lines {
  width:calc(100% - 4em);
  display:block;
  margin:0 auto;
  border-left:2px solid rgba(0,0,0,0.1);
  border-right:2px solid rgba(0,0,0,0.1);
  height:100%;
}

.gameboy-screen {
  background-color:#65626f;
  border-radius:.8em .8em 4em .8em;
  margin:2em;
  padding:1.3em 2.8em;
  position:relative;
}

.gameboy-screen:before {
  content:'';
  width:.6em;
  height:.6em;
  border-radius:50%;
  background:#151515;
  display:block;
  position:absolute;
  top:4em;
  left:1em;
  box-shadow: 0px 0px 10px 0px rgba(255,107,107,0);
  -webkit-transition:  0.3s all;
  transition:0.3s all;
}

.gameboy-outer.loaded .gameboy-screen:before {
  background:red;
  box-shadow: 0px 0px 10px 0px rgba(255,107,107,1);
}

.gameboy-screen-inner {
  background-color:#82922D;
  box-shadow: inset -11px -11px 18px 0px rgba(0,0,0,0.18), inset 2px 3px 8px 0px rgba(0,0,0,0.18);
  height:12em;
  padding:.6em 1em;
}

.gameboy-options {
  padding:0 2em;
}

.gameboy-printout {
  width:calc(100% - 6em);
  margin:-2em auto 0 auto;
  display:block;
  overflow:hidden;
  position:relative;
  height:13em;
}

.gameboy-printout-inner {
  background:white;
  padding:4em 2em 2em 2em;
  top:-100%;
  left:0;
  width:100%;
  height:100%;
  position:absolute;
  -webkit-transition:  1s all;
  transition:1s all;
  z-index:1;
}

.gameboy-outer.loaded .gameboy-printout-inner {
  top:0;
}

input[type=range] {
  width: 100%;
  margin: 3.75px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #637e57;
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -.1em;
  width: .8em;
  height: 1.2em;
  background: #071821;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6f8d61;
}
input[type=range]::-moz-range-track {
  background: #637e57;
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: .8em;
  height: 1.2em;
  background: #071821;
  border: 0;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 3.75px 0;
  color: transparent;
  width: 100%;
  height: 1em;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #576f4d;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #637e57;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: .8em;
  height: 1.2em;
  background: #071821;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #637e57;
}
input[type=range]:focus::-ms-fill-upper {
  background: #6f8d61;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.song-settings {
  max-height:0px;
  overflow:hidden;
  -webkit-transition: 1s max-height;
  transition:1s max-height;
}

.loaded .song-settings {
  max-height:12em;
}